@import '@/styles/animation.less';
@import '../defined.less';

.banner {
  /** 小屏 */
  &.grid-xs,
  &.grid-sm {
    /** tag 间距 */
    --tag-padding: 8px;
    /** tag 文字大小 */
    --tag-size: 12px;
    /** tag 数字大小 */
    --tag-num-size: 20px;
    /** 中空文字大小 */
    --stroke-text-font-size: 80px;
    /** description hello 文字大小 */
    --description-hello-font-size: 26px;
    /** description name 文字大小 */
    --description-name-font-size: 46px;
    /** description job 文字大小 */
    --description-job-font-size: 18px;
    /** description info 文字大小 */
    --description-info-font-size: 14px;
    /** avatar 大小 */
    --avatar-width: 150px;
    --avatar-height: 175px;
    /** col 宽度 */
    --col-width: 100%;
  }

  /** 中屏 */
  &.grid-md {
    /** tag 间距 */
    --tag-padding: 12px;
    /** tag 文字大小 */
    --tag-size: 18px;
    /** tag 数字大小 */
    --tag-num-size: 36px;
    /** 中空文字大小 */
    --stroke-text-font-size: 140px;
    /** description hello 文字大小 */
    --description-hello-font-size: 26px;
    /** description name 文字大小 */
    --description-name-font-size: 46px;
    /** description job 文字大小 */
    --description-job-font-size: 18px;
    /** description info 文字大小 */
    --description-info-font-size: 14px;
    /** avatar 大小 */
    --avatar-width: 300px;
    --avatar-height: 360px;
    /** col 宽度 */
    --col-width: 45%;
  }

  /** 大屏 */
  &.grid-lg,
  &.grid-xl,
  &.grid-xxl {
    /** tag 间距 */
    --tag-padding: 16px;
    /** tag 文字大小 */
    --tag-size: 22px;
    /** tag 数字大小 */
    --tag-num-size: 38px;
    /** 中空文字大小 */
    --stroke-text-font-size: 160px;
    /** description hello 文字大小 */
    --description-hello-font-size: 30px;
    /** description name 文字大小 */
    --description-name-font-size: 65px;
    /** description job 文字大小 */
    --description-job-font-size: 22px;
    /** description info 文字大小 */
    --description-info-font-size: 18px;
    /** avatar 大小 */
    --avatar-width: 320px;
    --avatar-height: 390px;
    /** col 宽度 */
    --col-width: 45%;
  }

  background-image: url('@/assets/Home/background.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  .font-family-barlow;

  .avatar {
    background-image: url('@/assets/Home/avatar.jpg');
    background-repeat: no-repeat;
    background-position: 36% center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    width: var(--avatar-width);
    height: var(--avatar-height);
  }

  .row {
    .part-container;
    display: flex;
    justify-content: space-between;
    .col-left {
      display: flex;
      width: var(--col-width);
      flex-direction: column;
      justify-content: center;
      color: @font-white;
      position: relative;

      .description {
        .hello {
          font-size: var(--description-hello-font-size);
        }
        .name {
          font-size: var(--description-name-font-size);
          margin-bottom: 20px;
        }
        .job {
          font-size: var(--description-job-font-size);
          margin-bottom: 20px;
        }
        .info {
          .font-family-open-sans;
          font-size: var(--description-info-font-size);
          margin-bottom: 30px;
          text-indent: 2em;
        }
      }
    }

    .col-right {
      display: flex;
      width: var(--col-width);
      flex-direction: column;
      justify-content: center;
    }
  }

  .button-group {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
    > div {
      display: flex;
      align-items: center;
      height: 50px;
      cursor: pointer;
    }
    .button {
      transition: background-color ease 0.3s;
      background-color: @active-darkblue;
      border-radius: 50px;
      padding: 0 40px;
      &:hover {
        background-color: @active-red;
      }
    }
    .simple-button {
      margin-left: 50px;
    }
  }

  .flag {
    display: inline-flex;
    align-items: center;
    padding: var(--tag-padding);
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    > .num {
      grid-area: 1 / 1 / 3 / 2;
      padding-right: var(--tag-padding);
      font-size: var(--tag-num-size);
      > i {
        font-size: var(--tag-num-size);
        display: inline-block;
        font-style: normal;
        transform: translateY(-24%);
      }
    }
    > .text {
      display: flex;
      flex-direction: column;
      font-size: var(--tag-size);
    }
  }

  .trophy {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    right: -10%;
    top: -10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100px;
    height: 100px;
  }

  .circularText {
    position: absolute;
    bottom: -70px;
    left: -70px;
    .animate-rotate(8s);
  }

  .stroke-text {
    position: absolute;
    z-index: 0;
    font-size: var(--stroke-text-font-size);
  }

  /** 小屏 */
  &.grid-xs,
  &.grid-sm {
    .row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 50px;
    }
    .col-left {
      order: 2;
      align-items: center;
    }
    .col-right {
      order: 1;
      align-items: center;
    }
    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 40px 0;
    }
    .trophy {
      width: 50px;
      height: 50px;
    }
  }

  /** 中屏 */
  &.grid-md {
    .avatar {
      margin-left: auto;
    }
  }

  /** 大屏 */
  &.grid-lg,
  &.grid-xl,
  &.grid-xxl {
    .avatar {
      margin-left: auto;
    }
  }
}
